:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #BCE7FD; 
}

.login-form {
  background-color: #DB2763; 
  padding: 2vh;            
  border-radius: 6vh;
  box-shadow: 0 2vh 4vh rgba(0,0,0,0.3);
  max-width: 40vw;          
  width: 30%;
  box-sizing: border-box;
  text-align: center;
}

.login-form h2 {
  color: #333;
  margin-bottom: 2vh;
  font-size: 2vw;           
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  background-color:#f6d7e1;
  margin-bottom: 1.5vh;
  padding: 1vh;
  width: 100%;
  box-sizing: border-box;
  border: 0.2vh solid #ccc;
  border-radius: 1vh;
  font-size: 1.5vw;         
}

.login-form p {
  margin: 1vh 0;
  color: #333;
  font-size: 1.5vw;         
}

.login-form button {
  background-color: #333;
  color: #fff;
  padding: 1vh 2vh;
  border: none;
  border-radius: 1vh;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.5vw;         
}

.login-form button:hover {
  background-color: #222;
}
