.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  background-image: url('/assets/images/back.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; /* Prevents tiling */
  padding-top: 5vh;

}

/* Title styles updated for smaller size */
.title {
  font-size: 8vw; 
  color: #DB2763;
  margin-bottom: 3vh;
  font-weight: bold;
}

/* Buttons Section */
.buttons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  gap: 1.5vw; 
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background: #BCE7FD;
  border: 0.3vw solid rgb(0, 0, 0); 
  color: #DB2763;
  width: 12vw; /* Fixed width */
  height: 4vw; /* Fixed height */
  font-size: 1.5vw; 
  font-weight: bold;
  border-radius: 1vw; 
  text-align: center;
  line-height: 4vw; /* Align text vertically within the button */
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: black;
    color: #BCE7FD;
  }
}

